.circle {
    width: 20px;
    height: 20px;
    background-color: #F063B8;
    border-radius: 50%;
    animation: circleAnimation 30s infinite;
    transform-origin: center bottom;
    margin-top: 14px;
}

@keyframes circleAnimation {
    0%, 100% {
        transform: scaleY(1);
    }
    20%, 80% {
        transform: scaleY(2);
    }
    24%, 76% {
        transform: scaleY(2);
    }
    28%, 72% {
        transform: scaleY(1);
    }
}

.heaader__nav-link:hover{
    color: #212353;
    font-weight: bold;
}

.end__button__ridht:hover {
    background: #F063B8;
    padding: 16px 41px;
}

.bottom__information__box:hover{
    background: #68C9BA;
    border-radius: 5%;
}

.bottom__information__box1:hover{
    background: #9C69E2;
    border-radius: 5%;
}

.bottom__information__box2:hover{
    background: #F063B8;
    border-radius: 5%;
}

.bottom__information__box3:hover{
    background: #2D9CDB;
    border-radius: 5%;
}

.header__buy-now:hover {
    background: #9C69E2;

}

.header__Learn__more:hover {
    background: #9C69E2;
    padding: 5% 9%;
}

.end__button__left:hover {
    background: #9C69E2;
    padding: 15px 25px;
}