.item-card {
    max-width: 420px;
}

.item-container__image {
    min-height: 200px;
    max-width: 420px;
    cursor: pointer;
}

.lokation_box{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.basis .lokation_box > div {
    flex-basis: calc(20.33% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
}


.basis{
    display: flex;

}

.box__left {
    flex: 2;
    padding: 10px;
}

.box__right {
    flex: 1;
    padding: 10px;
    background-color: lightgray;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 0 3px greenyellow;
}

.box__right > * {
    margin: 10px;
}

.box__left > * {
    margin: 10px;
}
.name{
    background: rgba(0, 255, 255, 0.15);
}

.button__style{

    height: 20px;
    width: 40px;
    color: greenyellow;
    background: black;
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
    border-color: greenyellow;
    text-decoration: none;
    box-shadow: 0 0 0 3px greenyellow;
}

.w{
    padding-top: 20px;
}

.blue-box {
    background-color: darkgray;
    color: white;
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0 0 0 5px greenyellow;
}

