body {
    background: #F6FAFD;
   font-family: "Roboto", "Arial", sans-serif;
    color: #505f98;

}

a {
    text-decoration: none;
    color: #505f98;
    list-style: none;


}

.images-container{
    display: flex;
    align-items: center;
    margin-right: 15%;
}

button {
    border: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}
.header {
    height: 703px;
    background-image: url('img/image1%201.png');
    background-position: right 20% bottom;
    background-repeat: no-repeat;
    background-size: 60%;
}

.header__tekst h1{
    color: #212353;
    font-size: 375%;
}

.header__tekst h3{
    color: #4B5D68;
    font-size: 100%;
    font-weight: 200;
    line-height: 1.5;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
}

.header__nav{
    display: flex;
    width: 20px;
    height: 20px;
}
.header__nav ul {
    display: flex;
}

.header__nav-item {
    font-size: 85%;
    margin-right: 60px;
    list-style: none;
}

.heaader__nav-About{
    color: #212353;
}

.heaader__nav-link{
    color: #4B5D68;
}

.header__buy-now {
    display: flex;
    align-items: center;
    width: 140px;
    height: 40px;
    background: #ffffff;
    color: #212353;
    border: 1px solid #ffffff;
    border-radius: 20px;
    font-weight: 500;
    font-size: 75%;
    box-shadow: 0 5px 5px 0 #4B5D681A;
    text-align: center;
    position: relative;
    padding-left: 20px;
    transition: background-color 2.3s;
}

.header__buy-now::before {
    content: "\279C";
    color: #9C69E2;
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
}



.header__Learn__more{
    background: #9C69E2;
    color: #ffffff;
    border-radius: 50px;
    padding: 4% 8%;
    margin-top: 40%;
}


.header__1{
    display: flex;
    margin-top: 6%;
}

.middle__contecst{
    background: rgba(240, 99, 184, 0.15);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.middle__contecst img {
    max-width: 100%;
    height: auto;
}


@media screen and (max-width: 800px) {
    .middle__contecst img {
        max-width: 50%;
    }
}

.middle__text h1{
    font-size: 250%;
    color: #212353;
}

.middle__text h3{
    color: #4B5D68;
    font-size: 100%;
    font-weight: 200;
    line-height: 1.5;
}

.middle{
    height: 1103px;
}

.bottom{
    height: 1503px;
}

.bottom h1{
    color: #212353;
    font-size: 250%;
    justify-content: center;
}

.bottom h3{
    color: #4B5D68;
    font-size: 100%;
    justify-content: center;
    font-weight: 200;
    line-height: 1.5;
}

.bottom__text{
    text-align: center;
    margin-top: 10%;
}

.bottom__information__box{
    margin-top: 15%;
    display: flex;
    background-image: url('img/Rectangle 39.png'), url("img/Vector 56.png");
    background-size: 70%, 35%;
    background-repeat: no-repeat;
    background-position: right center, calc(100% - 20px) 20px;
    align-items: center;
    padding: 10px;

}

.bottom__information__box img{
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 500px) {
    .bottom__information__box img {
        max-width: 50%;
    }
}

.bottom__information__box1{
    margin-top: 15%;
    display: flex;
    background-image: url('img/Rectangle 40.png'), url("img/Vector 57.png");
    background-size: 70%, 35%;
    background-repeat: no-repeat;
    background-position: right center, bottom right;
    align-items: center;
    padding: 10px;
}


.bottom__information__box1 img{
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 500px) {
    .bottom__information__box1 img {
        max-width: 50%;
    }
}

.bottom__information__box2{
    margin-top: 15%;
    display: flex;
    background-image: url('img/Rectangle 41.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: right center;
    align-items: center;
    padding: 10px;
}


.bottom__information__box2 img{
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 500px) {
    .bottom__information__box2 img {
        max-width: 50%;
    }
}
.bottom__information__box3{
    margin-top: 15%;
    display: flex;
    background-image: url('img/Rectangle 42.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: right center;
    align-items: center;
    padding: 10px;
}
@media screen and (max-width: 500px) {
    .bottom__information__box3{
    background-size: 150%;
    }
    .bottom__information__box2{
        background-size: 150%;
    }
    .bottom__information__box1{
        background-size: 150%;
    }
    .bottom__information__box{
        background-size: 150%;
    }
}

.bottom__information__box3 img{
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 500px) {
    .bottom__information__box3 img {
        max-width: 50%;
    }
}

.bottom__text__row h2{
    color: #212353;
    font-size: 150%;
}

.bottom__text__row h3{
    color: #4B5D68;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.5;
}

.bottom__img{
display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

@media screen and (max-width: 900px) {
    .row {
        display: block;
    }
    .end__button__ridht{
       margin-left: -10%;

    }
}

.end{
    height: 1103px;
    border-top: 10px solid #000;
}

.end__right{
    display: flex;
    margin-top: 6%;
    width: 40%;
}
@media screen and (max-width: 876px) {
    .end__right{
        width: 100%;
        display: block;
    }
}

.end__menu{
    display: flex;
    margin: 25% 15% 15%;
    justify-content: space-between;
    border-top: 2px solid rgba(156, 105, 226, 0.2);
}

@media screen and (max-width: 876px) {
    .end__menu {
        display: block;
    }
}
.end__button__left {
    color: #ffffff;
    background: #F063B8;
    width: 45%;
    height: 45%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 3% 6%;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 2.3s;
    margin-right: 10%;
    margin-bottom: 5%;
}

.end__button__left:hover {
    background: #9C69E2;
    padding: 5% 8%;
}

.end__button__ridht{
    width: 45%;
    height: 45%;
    padding: 3% 6%;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #ffffff;
    color: #212353;
    border: 1px solid #ffffff;
    border-radius: 50px;
    font-weight: 500;
    font-size: 75%;
    box-shadow: 0 5px 5px 0 #4B5D681A;
    text-align: center;
    position: relative;
    transition: background-color 2.3s;
}

.end__button__ridht::before {
    content: "\279C";
    color: #9C69E2;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 180%;
}


.end__end__button{
    color: #ffffff;
    background: #9C69E2;
    background: rgba(240, 99, 184, 0.15);
    width: 60px;
    height: 60px;
    border-radius: 60px;
    font-weight: 500;
    font-size: 75%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    animation: bounce 2s infinite;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.end__end{
    display: flex;
    margin: 15%;
    justify-content: space-between;
}
.end__end h3{
    color: #4B5D68;
    font-size: 62.5%;
    font-weight: 200;

}
.end__menu h2{
    color: #212353;
    font-size: 250%;
}

.end__menu h3{
    color: #4B5D68;
    font-size: 100%;
    font-weight: 200;
}

.bottom__button__menu{
    margin-top: 3%;
    color: #212353;
}


.circle1 {
    width: 20px;
    height: 20px;
    background-color: #9C69E2;
    border-radius: 50%;
    margin-top: 14px;
}



.arrow {
    font-size: 150%;
    color: #9C69E2;
    margin-top: 40px;
}

.menu-button {
    display: none;
    background: linear-gradient(45deg, #9C69E2, #F063B8);
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

.menu-dropdown {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 1;
}


.menu-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.menu-dropdown li {
    margin-bottom: 10px;
}


.menu-dropdown a {
    text-decoration: none;
    color: #212353;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
}

.menu-dropdown a:hover {
    color: #9C69E2;
}

.vertical-menu{
    display: block;
}

.horizontal-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 650px) {
    .horizontal-menu {
        display: none !important;
    }

    .menu-button {
        display: block;

    }

    .header__distance{
        display: none;
    }

    .menu-dropdown {
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        background: #fff;
        border: 1px solid #ccc;
        z-index: 1;
    }

    .menu-dropdown ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu-dropdown li {
        margin-bottom: 10px;
    }

    .header__buy-now {
        display: none;
    }
}